@using Microsoft.AspNetCore.Identity
@using LuxMobile.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model LuxMobile.Models.Appointment
@{
    ViewData["Title"] = "Booking";
}

<script type="text/javascript">
    function showDiv(select) {
        if (select.value == 'GCash' || select.value == 'PayMaya') {
            document.getElementById('hidden_div').style.display = "block";
        } else {
            document.getElementById('hidden_div').style.display = "none";
        }
    }

    //Service
    var t1 = 0;
    function totalPrice1(select) {
        if (select.value == 'Haircut') {
            t1 = 550;
        }
        if (select.value == 'Trim') {
            t1 = 400;
        }
        if (select.value == 'Shave') {
            t1 = 200;
        }
        if (select.value == 'BeardTrim') {
            t1 = 200;
        }
        if (select.value == 'Massage') {
            t1 = 700;
        }
        if (select.value == 'Emperor') {
            t1 = 3999;
        }
        if (select.value == 'King') {
            t1 = 1999;
        }
        if (select.value == 'Prince') {
            t1 = 1000;
        }
        if (select.value == 'Shampoo') {
            t1 = 300;
        }
        if (select.value == 'Facial') {
            t1 = 500;
        }

        var total = document.getElementById('total');
        total.setAttribute('value', t1);
    }

</script>


<!--Header-->
<div class="hero-wrap" style="background-image: url('https://www.salonsuccessacademy.com/wp-content/uploads/2017/04/iStock-640279638-1024x684.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-8 ftco-animate d-flex align-items-end">
                <div class="text w-100 text-center" style="color:white">
                    <h1 class="mb-4">
                        Book
                        <span>Now</span>!
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!--White Space-->
<br />
<br />

<div class="container">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                @ViewBag.Message
            </div>

        }
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                @ViewBag.ErrorMessage
            </div>
        }

        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">
                <form asp-action="Booking">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="BarberName" class="control-label"></label>
                        <br />
                        <select name="BarberName" id="BarberName" class="form-control" asp-for="BarberName">
                            <option asp-for="BarberName" value="AnyBarber">Any Barber</option>
                            <option asp-for="BarberName" value="Jean">Jean</option>
                            <option asp-for="BarberName" value="Mark">Mark</option>
                            <option asp-for="BarberName" value="Bart">Bart</option>
                        </select>
                        <span asp-validation-for="BarberName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="BookingDate" class="control-label"></label>
                        <input asp-for="BookingDate" class="form-control" />
                        <span asp-validation-for="BookingDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CustomerName" class="control-label"></label>
                        <input asp-for="CustomerName" value="@UserManager.GetUserName(User)" class="form-control" />
                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <textarea asp-for="Address" class="form-control" placeholder=""></textarea>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>

                    <div id="s1">
                        <div class="form-group">
                            <label asp-for="Service" class="control-label"></label>
                            <br />
                            <select name="Service" id="Service1" asp-for="Service" class="form-control" onchange="totalPrice1(this)">
                                <option></option>
                                <option value="Haircut">Haircut </option>
                                <option value="Trim">Trim </option>
                                <option value="Shave">Shave </option>
                                <option value="BeardTrim">Beard Trim </option>
                                <option value="Massage">Massage </option>
                                <option value="Emperor">Emperor's Package </option>
                                <option value="King">King's Package </option>
                                <option value="Prince">Prince's Package </option>
                                <option value="Shampoo">Shampoo </option>
                                <option value="Facial">Facial </option>
                            </select>
                            <span asp-validation-for="Service" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="TotalPrice" class="control-label"></label>

                        <input asp-for="TotalPrice" id="total" value="" class="form-control" placeholder="Amount to Pay" readonly />
                        <span asp-validation-for="TotalPrice" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="PaymentMethod" class="control-label"></label>
                        <br />
                        <select name="PaymentMethod" id="PaymentMethod" class="form-control" asp-for="PaymentMethod" onchange="showDiv(this)">
                            <option></option>
                            <option asp-for="PaymentMethod" value="Cash">Cash</option>
                            <option asp-for="PaymentMethod" value="GCash">GCash</option>
                            <option asp-for="PaymentMethod" value="PayMaya">PayMaya</option>
                        </select>
                        <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                    </div>

                    <div id="hidden_div" style="display: none">
                        <div class="form-group">
                            <label asp-for="AccountNumber" class="control-label"></label>
                            <input asp-for="AccountNumber" class="form-control" placeholder="Account Number" />
                            <span asp-validation-for="AccountNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AccountName" class="control-label"></label>
                            <input asp-for="AccountName" class="form-control" placeholder="Account Name" />
                            <span asp-validation-for="AccountName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Book" class="btn btn-primary" />
                    </div>

                </form>
            </div>
            <div class="col-md-2"></div>
        </div>

    }
    else
    {
        <br />
        <br />

        <div class="container">
            <h2 class="mb-4" style="text-align: center">Please <a href="https://localhost:44367/Identity/Account/Login">Login</a> first to continue.</h2><br />

            <br /><br />
            <br />
        </div>
    }

</div>
        <br />
        <br />

        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

