
<div class="hero-wrap" style="background-image: url('https://www.salonsuccessacademy.com/wp-content/uploads/2017/04/iStock-640279638-1024x684.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-8 ftco-animate d-flex align-items-end">
                <div class="text w-100 text-center" style="color:white">
                    <h1 class="mb-4">Check out our <span>Gallery</span>.</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2>Works of...</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 ">
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url('https://i.ibb.co/BZS6V2q/jean.jpg');"></div>
                    <h3>Jean</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url('https://i.ibb.co/BrRTt2Z/mark.jpg')"></div>
                    <h3>Mark</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url('https://i.ibb.co/G78YC45/bart.jpg');"></div>
                    <h3>Bart</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 ">
            </div>
        </div>
    </div>
</section>
@*//gallery*@
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url('https://i.ibb.co/9TwgnGh/gal1.jpg'); ">
                    </div>
                    <div class="text text-center">
                        <span class="sale">Hot</span>
                        <h6>
                            by: Jean
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url('https://i.ibb.co/T0sRF5R/gal2.jpg'); ">
                    </div>
                    <div class="text text-center">
                        <span class="sale">Hot</span>
                        <h6>
                            by: Mark
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url('https://i.ibb.co/vjsqG57/gal3.jpg');">
                    </div>
                    <div class="text text-center">
                        <h6>
                            by: Bart
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url('https://i.ibb.co/SxkY4pL/gal4.jpg');">
                    </div>
                    <div class="text text-center">
                        <h6>
                            by: Jean
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        @*next row*@
        <div class="row">
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url('https://i.ibb.co/k80RK7f/gal5.jpg'); ">
                    </div>
                    <div class="text text-center">
                        <span class="sale">Hot</span>
                        <h6>
                            by: Jean
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center"
                         style="background-image: url('https://i.ibb.co/Nry1D7d/gal6.jpg'); ">
                    </div>
                    <div class="text text-center">
                        <h6>
                            by: Mark
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center"
                         style="background-image: url('https://i.ibb.co/nf8qCQN/gal7.jpg');">
                    </div>
                    <div class="text text-center">
                        <h6>
                            by: Bart
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="product ftco-animate">
                    <div class="img d-flex align-items-center justify-content-center"
                         style="background-image: url('https://i.ibb.co/nf4VzpZ/gal8.jpg');">
                    </div>
                    <div class="text text-center">
                        <h6>
                            by: Bart
                        </h6>
                    </div>
                </div>
            </div>
        </div>

        @*next row*@
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a asp-controller="Service" asp-action="AboutUs" asp-fragment="services" class="btn btn-primary d-block">View All Services <span class="fa fa-long-arrow-right"></span></a>
            </div>
        </div>
    </div>
</section>
@*
        ONLINE IMG HOSTING:
        <img src="https://i.ibb.co/G78YC45/bart.jpg" alt="bart" border="0">
    <img src="https://i.ibb.co/ZJmvLcY/emperor.jpg" alt="emperor" border="0">
    <img src="https://i.ibb.co/9TwgnGh/gal1.jpg" alt="gal1" border="0">
    <img src="https://i.ibb.co/T0sRF5R/gal2.jpg" alt="gal2" border="0">
    <img src="https://i.ibb.co/vjsqG57/gal3.jpg" alt="gal3" border="0">
    <img src="https://i.ibb.co/SxkY4pL/gal4.jpg" alt="gal4" border="0">
    <img src="https://i.ibb.co/k80RK7f/gal5.jpg" alt="gal5" border="0">
    <img src="https://i.ibb.co/Nry1D7d/gal6.jpg" alt="gal6" border="0">
    <img src="https://i.ibb.co/nf8qCQN/gal7.jpg" alt="gal7" border="0">
    <img src="https://i.ibb.co/nf4VzpZ/gal8.jpg" alt="gal8" border="0">
    <img src="https://i.ibb.co/BZS6V2q/jean.jpg" alt="jean" border="0">
    <img src="https://i.ibb.co/dMy7Q3B/king.jpg" alt="king" border="0">
    <img src="https://i.ibb.co/BrRTt2Z/mark.jpg" alt="mark" border="0">
    <img src="https://i.ibb.co/FVwVjz0/prince.jpg" alt="prince" border="0">
    <img src="https://i.ibb.co/K2GMZJX/prince1.jpg" alt="prince1" border="0">

*@